 .categories--debates-main_div{
    margin: 5px 11px 10px 100px;
    box-shadow: 1px 1px 1px 1px grey;
    padding: 3px 0 0 0;
    width: 350px;
    height:200px;
    display:inline-block;
    border-radius:10px;
}
.categories-contents{
    margin-left:34px;
}
.categories-contents p{
    font-weight: bold;
    font-size:20px;
    color:black;
}
.categories-contents h2{
    color:#EF5F34;
}
.categories-img-div{
    width: 20px;
    height: 20px;
    margin: -57px 0 0 217px;
}
.categories-img-div img{
    width: 40px;
    height: 40px;
}
.categories--users-img-div img{
    border-radius:50px;
    width: 30px;
    height: 30px;
}