*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #2b5876;
}
.passworddiv{
    width:30%;
    height:250px;
    background-color: white;
    padding:35px;  
    text-align: center;
    margin-top:150px;
    margin-left: 450px;
    border-radius: 5px;
    border:none;
    box-shadow: 0px 1px 1px 1px rgb(182, 192, 192);
}
.input{
    width:70%;
    padding:5px;
    margin:4px;
    border:none;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 1px  rgb(182, 192, 192);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left:15px;
}
.submit-input{
    width:70%;
    background-color: #2b5876;
    color:white;
    height:40px;
    margin:25px;
    padding:5px;
    font-weight:bold;
}