*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #2b5876;
}
.login-form{
    width:65%;
    padding: 1px;
    margin-top:80px;
    margin-left: 240px;
    text-align:center;
    background-color: white;
    height:500px;
    border-radius: 5px;
    border:none;
    box-shadow: 0px 1px 1px 1px rgb(182, 192, 192);
}
.left{
    width: 50%;
    float:left;
    background-color: rgb(199, 207, 214);
    height:100%;
    
}
.right{
    width: 50%;
    float:right;
    background-color: aliceblue;
    height:100%;
    
}
.input{
    height:100%;
    width: 50%;
    padding: 5px;
    margin:4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 15px;
    border: none;
    border-radius:2px;
    box-shadow: 0px 1px 1px 1px rgb(182, 192, 192);
}
.submit-input{
    height: 100%;
    width:58%;
    padding:10px;
    color:white;
    font-weight:bold;
    background-color: #2b5876;
    margin:25px;
    border: none;
    border:none;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 1px lightcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    
    color:#006df0;
    font-size:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    height:100px;
    width:100px;
    margin-top:12px;
}
.agree{
    margin-bottom:50px;
}