/* div for debates */
.main_div {
    margin-top: 10px;
    width: 1200px;
    min-height: 500px;
}

/*  */

.debate-section0 {
    margin-top: 120px;
    z-index: 1;
}

.debate-section1 {
    width: 350px;
    margin: auto;
    height: 410px;
    margin-top: -150px;
}

.debate-section2 {
    margin-top: 10px;
    z-index: -1;
}

.debate {
    width: 350px;
    margin: auto;
    height: 410px;
    background: #000;
}

.debates-div {
    margin: 10px;
    display: inline-block;
    width: 350px;
    height: 410px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 5px 1px 1px rgba(0,0,0,.55);
}
.debates-div:hover{
    box-shadow: 2px 7px 2px 2px rgba(0,0,0,.55);
    transition: background 0.9s ease, color 0.9s ease;
}
/*  1st debate */

.debates1 {
    width: 350px;
    height: 410px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 5px 0 0 rgba(0,0,0,.55);
}
.debates-content {
    width: 80%;
    padding: 20px 0 20px 0;
    margin: auto;
}

.debates1 img{
    width: 100px;
}

.debates-left {
    width: 74%;
    float: left;
}

.debates-right {
    width: 26%;
    float: right;
}

.debates-left--left {
    width: 35%;
    float: left;
}

.debates-left--right {
    width: 53%;
    float: right;
    color: red;
    padding-top: 38px;
}

.debate-topic {
    color:black;
    font-size: 20px;
}

.debate-main {
    width: 100%;
}

.team {
    width: 50%;
    float: left;
}

.teamA-name {
    color: #006DF0;
    font-size: 22px;
}

.teamB-name {
    color: #006DF0;
    font-size: 22px;
}

.squadA-name {
    color:black;
    font-size: 20px;
}
.squadB-name {
    color:black;
    font-size: 20px;
}

.live-score {
    font-size: 15px;
    color: darkgrey;
}

.scoreA {
    padding-top: 20px;
    height: 100px;
    width: 50%;
    float: right;
    text-align: center;
}

.scoreB {
    height: 100px;
    width: 50%;
    float: right;
    text-align: center;
}

.scoreA-text {
    background-color: rgb(55, 63, 167);
    color: white;
    padding: 20px 15px 20px 15px;
    border-radius: 50px;
}

.scoreB-text {
    background-color: rgb(214, 95, 48);
    padding: 20px 15px 20px 15px;
    border-radius: 30px;
    color: white;
}
