header h3 {
    font-size: 30px;
    margin-left: 5px;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 1550px;
    height: 120px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    margin: auto;
}

a {
    text-decoration: none;
}

header a {
    font-weight: bold;
    color: whitesmoke;
}

header a:hover {
    color: yellow;
    transition: background 0.2s ease-in, color 0.2s ease;
}

.header--left {
    width: 1162px;
    float: left;
}

.header--right {
    width: 388px;
    float: right;
    padding: 20px 0 24px 0;
}

.header--left-left {
    width: 116.2px;
    float: left;
}

.header--left-right {
    width: 1045px;
    float: right;
}

.categories li {
    display: block;
    float: left;
    margin: 28px;
}

.header--right .search-div {
    width: 25%;
    float: left;
    margin: 8px 0 0 179px;
}
.ui-widget{
    border-radius: 10px;
    background-color: white;;
}
.header--right .user-div {
    width: 25%;
    float: right;
    margin: -12px 9px 0 0;
}

.header--right button {
    border: none;
    background: none;
    margin-top: 10px;
}

.header--right input {
    margin-right: 300px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width:1200px;
    margin-left:-1000px;
    font-size: 50px;    
}

.user-menu{
    box-shadow: 1px 2px 2px 1px rgb(83, 80, 80);
    padding: 2px 9px 3px 0;
    margin: 48px 35px 3px 183px;
    border-radius: 3px;
    background: rgb(239, 243, 245);

}
#user-menu1{
    text-align: center;
    margin:18px 0 2px 20px;

}
#user-menu1:hover{
    background-color:rgb(117, 117, 117);
    border-radius:5px;
    transition: background 0.5s ease, color 0.5s ease;
}
#user-menu2 #setting-img  {
  float: left;
  text-align: center;
  background: rgb(134, 141, 133);
  padding:1px 10px 1px 10px;
  width:45px;
  margin-left:8px;
}
#user-menu2 #setting-img:hover{
    background-color:rgb(65, 63, 63);
    border-radius:10px;
    transition: background 0.5s ease, color 0.5s ease;
}
#user-menu2 #squad-button  {
  float: right;
  padding:8px;
  color:white;
  text-align: center;               
  font-size:25px;
  width:45px;
  background-color:#dd493e;
  margin-left:5px; 
}
#user-menu2 #squad-button:hover{
    border-radius:10px;
    transition: background 0.5s ease, color 0.5s ease;
    background-color: #bd3c00
}

#user-menu2 button{
    color:white;
    padding:2px 0 2px 0;
    font-size:10px;
    border-radius:25px;
 
}

#user-menu3{
    margin-left:5px;
}
#user-menu3 button{
    padding:10px;
    background: #db5314;
    color:white;
    font-weight: bold;
    font-size:20px;
    border-radius: 3px;
    width:160px;
}
#user-menu3 button:hover{
    transition: background 0.5s ease, color 0.5s ease;
    background:#b33d34;
}