@font-face {
    src: url(./fonts/Nunito-Regular.ttf);
    font-family: nun-reg;
}

input, button:focus {
    outline: none;
}

* {
    font-family: nun-reg;
}

body {
    margin: auto;
}
/* div for debates */
.main_div {
    margin-top: 10px;
    width: 1200px;
    min-height: 500px;
}

/* for all buttons */
button {
    cursor: pointer;
}

header h3 {
    font-size: 30px;
    margin-left: 5px;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    margin: auto;
}

a {
    text-decoration: none;
}

header a {
    font-weight: bold;
    color: whitesmoke;
}

header a:hover {
    color: yellow;
    transition: background 0.2s ease-in, color 0.2s ease;
}

.header--left {
    width: 75%;
    float: left;
}

.header--right {
    width: 25%;
    float: right;
    padding: 20px 0 24px 0;
}

.header--left-left {
    width: 10%;
    float: left;
}

.header--left-right {
    width: 90%;
    float: right;
}

.categories li {
    display: block;
    float: left;
    margin: 28px;
}

.header--right .search-div {
    width: 25%;
    float: left;
    margin: 8px 0 0 179px;
}
.ui-widget{
    border-radius: 10px;
    background-color: white;;
}
.header--right .user-div {
    width: 25%;
    float: right;
    margin: -12px 9px 0 0;
}

.header--right button {
    border: none;
    background: none;
    margin-top: 10px;
}

.header--right input {
    margin-right: 300px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width:1200px;
    margin-left:-1000px;
    font-size: 50px;    
}

.user-menu{
    box-shadow: 1px 2px 2px 1px rgb(83, 80, 80);
    padding: 10px 12px 8px 0;
    margin: 48px 6px 0px 217px;
    border-radius:3px;
    background: rgb(239, 243, 245);

}
#user-menu1{
    text-align: center;
    margin:2px 0 2px 20px;
    padding:0 -5px 0 0;

}
#user-menu1:hover{
    background-color:rgb(117, 117, 117);
    border-radius:5px;
    transition: background 0.5s ease, color 0.5s ease;
}
#user-menu2 #setting-img  {
  float: left;
  text-align: center;
  background: rgb(134, 141, 133);
  padding:1px 10px 1px 10px;
  width:45px;
  margin-left:8px;
}
#user-menu2 #setting-img:hover{
    background-color:rgb(65, 63, 63);
    border-radius:10px;
    transition: background 0.5s ease, color 0.5s ease;
}
#user-menu2 #squad-button  {
  float: right;
  padding:8px;
  color:white;
  text-align: center;               
  font-size:25px;
  width:45px;
  background-color:#dd493e;
  margin-left:5px; 
}
#user-menu2 #squad-button:hover{
    border-radius:10px;
    transition: background 0.5s ease, color 0.5s ease;
    background-color: #bd3c00
}

#user-menu2 button{
    color:white;
    padding:2px 0 2px 0;
    font-size:10px;
    border-radius:25px;
 
}

#user-menu3{
    margin-left:5px;
}
#user-menu3 button{
    padding:10px;
    background: #db5314;
    color:white;
    font-weight: bold;
    font-size:20px;
    border-radius: 3px;
    width:150px;
}
#user-menu3 button:hover{
    transition: background 0.5s ease, color 0.5s ease;
    background:#b33d34;
}

.trending-main {
    width: 100%;
    height: 250px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    margin: auto;
}

.trending {
    font-weight: bold;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.trendinghashtags button {
    font-weight: bold;
    margin: 8px;
    padding: 10px 20px 10px 20px;
    border: 2px solid snow;
    background: none;
    border-radius: 20px;
    color: whitesmoke;
}

.trendinghashtags button:hover {
    border: 2px solid yellow;
    transition: background 0.1s ease-in, color 0.1s ease-in;
    color: yellow;
    box-shadow: 1px 1px 1px 1px yellow;
}

.trendinghashtags {
    text-align: center;
}



/*  */
.aside-main-container {
    margin-top: -100px;
    position: fixed;
}
.aside-main-container2 {
    margin-left: 300px;
    margin-top: -50px;
}
.aside-main-container button{
    padding:9px;
   font-size:20px;
   font-weight: bold;
   border-radius: 0 25px 25px 0;
   color:white;
   background-color:rgb(47, 158, 171);
   border: none;
}

.aside-main-container2 button{
    padding:9px;
   font-size:20px;
   font-weight: bold;
   border-radius: 0 25px 25px 0;
   color:white;
   background-color:rgb(47, 158, 171);
   border: none;
   margin-top: 116px;
}
.aside-main-container button:hover{
    transition: background 0.9s ease, color 0.9s ease;
    background: linear-gradient(to top, #56ccf2, #2f80ed);
    color:wheat;
}
.aside-main-container2 button:hover{
    transition: background 0.9s ease, color 0.9s ease;
    background: linear-gradient(to top, #56ccf2, #2f80ed);
    color:wheat;
    
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* online users */

.online-users{
    font-size: 16px;
    color:white;
    float:left;
}
.online-status{
    float:right;
    margin-left:100px;
    margin-top:-48px;
}

.online-contacts{
    color: white;
    margin: 10px;
    padding: 1px 138px 5px 20px;
    box-shadow: 0px 0px 1px 1px grey;
}
#toggle-off-text{
    color:whitesmoke;
    font-size:33px;
    margin-left:5px;
}
aside{
    
    position: fixed;
    float:left;
}
.aside-full-container{
    border-radius: 5px;
    margin-top: -227px;
    background: linear-gradient(to top, #56ccf2, #2f80ed);
    width: 300px;
    height:450px;
}
.aside-container1{
    margin: 32px;
}

/*  */

.debate-section0 {
    margin-top: 120px;
    z-index: 1;
}

.debate-section1 {
    width: 350px;
    margin: auto;
    height: 410px;
    margin-top: -150px;
}

.debate-section2 {
    margin-top: 10px;
    z-index: -1;
}

.debate {
    width: 350px;
    margin: auto;
    height: 410px;
    background: #000;
}

.debates-div {
    margin: 10px;
    display: inline-block;
    width: 350px;
    height: 410px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 5px 0 0 rgba(0,0,0,.55);
}

/*  1st debate */

.debates1 {
    width: 350px;
    height: 410px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 5px 0 0 rgba(0,0,0,.55);
}
.debates-content {
    width: 80%;
    padding: 20px 0 20px 0;
    margin: auto;
}

.debates1 img{
    width: 100px;
}

.debates-left {
    width: 74%;
    float: left;
}

.debates-right {
    width: 26%;
    float: right;
}

.debates-left--left {
    width: 35%;
    float: left;
}

.debates-left--right {
    width: 53%;
    float: right;
    color: red;
    padding-top: 38px;
}

.debate-topic {
    font-size: 20px;
}

.debate-main {
    width: 100%;
}

.team {
    width: 50%;
    float: left;
}

.teamA-name {
    color: #006DF0;
    font-size: 22px;
}

.teamB-name {
    color: #006DF0;
    font-size: 22px;
}

.squad-name {
    font-size: 20px;
}

.live-score {
    font-size: 15px;
    color: darkgrey;
}

.scoreA {
    padding-top: 20px;
    height: 100px;
    width: 50%;
    float: right;
    text-align: center;
}

.scoreB {
    height: 100px;
    width: 50%;
    float: right;
    text-align: center;
}

.scoreA-text {
    background-color: rgb(55, 63, 167);
    color: white;
    padding: 20px 15px 20px 15px;
    border-radius: 50px;
}

.scoreB-text {
    background-color: rgb(214, 95, 48);
    padding: 20px 15px 20px 15px;
    border-radius: 30px;
    color: white;
}
.debate-footer{
    float:right;
    position:fixed;
    right: 0;
    bottom: 0;
    margin-left:55px;
    
}
.debate-footer button{
    padding:20px 20px 20px 20px;;
    border-radius:50%;
    color:whitesmoke;
    background-color:#EF5F34;
    border:none;
    font-size:35px;
    font-weight: bold;
    box-shadow:0px 0px 1px 2px gray;
}
.debate-footer button:hover{
    background-color:rgb(143, 39, 7);
    transition: background 0.58s ease-in-out, color 0.58s ease-in;
    border:3px solid gray;
}