@font-face {
    src: url(./fonts/Nunito-Regular.ttf);
    font-family: nun-reg;
}

input, button:focus {
    outline: none;
}

* {
    font-family: nun-reg;
}

body {
    margin: auto;
}


/* for all buttons */
button {
    cursor: pointer;
}





